:root {
  --border-radius: 0.5rem;
  --border-radius-large: 2rem;
  --transition-base: all 0.2s ease-in-out;
  --color-black: #000000;
  --blur: blur(1rem);
  --bg-color-purple: #ece2da;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.navbar {
  margin-top: 30px;
  margin-inline: 2rem;
  padding: 15px 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  z-index: 1000;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.logo {
  margin-right: 30px;
  width: 100px;
}
.logo:hover {
  cursor: pointer;
}
.nav-links {
  display: flex;
  gap: 3rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.nav-links a .nav-span {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.nav-links a:hover .nav-span {
  opacity: 1;
}
.nav-links a:hover {
  transition: var(--transition-base);
  color: #ff9100;
  transform: translateX(5px);
}
.nav-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
#contact {
  margin-left: auto;
  margin-right: 0;
  padding: 1rem 2rem;
  background-color: black;
  color: #fff;
  font-size: 0.875rem;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  text-decoration: none;
}
#contact:hover {
  background-color: #ffbf00;
  color: #000000;
}
.navbar.menu-open {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: none;
}
#contact-mobile {
  width: 94%;
  margin-right: 0;
  padding: 0.4rem 0.9rem;
  background-color: #1b1b1b;
  color: white;
  text-align: left;
  margin-top: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 1rem;
  transition: var(--transition-base);
}
#contact-mobile:hover {
  background-color: #ffbf00;
  color: #000;
}
/* BURGER MENU */
.burger {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34px;
  height: 14px;
  transition: 0.3s ease;
}

.burger-icon span {
  display: block;
  height: 4px;
  background: #000;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.burger-icon.active span:nth-child(1) {
  opacity: 0;
}

.burger-icon.active span:nth-child(2) {
  transform: translateY(-5px);
}

.hero-section video {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  z-index: 1;
  color: white;
  text-align: left;
  padding: 70px 32px;
}
.service-hero {
  padding: 70px 32px 50px 32px;
}
.service-hero span {
  color: #fff;
}
.service-hero h1 {
  color: #000000;
  font-size: 5.5rem;
}
.career-hero {
  padding: 100px 32px 120px 32px;
}
.career-hero span {
  margin-bottom: 1000px;
  color: #fff;
}
.career-hero h1 {
  font-size: 7rem;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #fff;
}
.staff-link {
  display: flex;
  width: fit-content;
  gap: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  background-color: #ffbf00;
}
.staff-link:hover {
  background-color: black;
  color: #ffffff;
  transition: var(--transition-base);
}
.video-text-small {
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: var(--border-radius-large, 2rem);
  background-color: hsla(0, 0%, 0%, 0.514);
  backdrop-filter: var(--blur, blur(1rem));
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.video-text-large {
  font-size: 7.5rem;
  margin-bottom: 32px;
  margin-top: 32px;
  letter-spacing: -0.225rem;
  font-weight: 300;
  line-height: 120px;
}
.lev-section {
  padding: 0px 32px 32px 32px;
  text-align: left;
}
.service-lev h1 {
  display: none;
}
.career-lev h1 {
  display: none;
}
.leverage-heading {
  font-size: 3rem;
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 400;
}
.lev-section h2 {
  font-size: 1.8rem;
  font-weight: 100;
  padding-bottom: 50px;
}
.lev-component {
  display: flex;
  gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1.5rem;
  color: rgb(27, 27, 27);
  text-decoration: none;
  padding: 1rem;
  border-radius: var(--border-radius, 0.5rem);
  background-color: rgb(236, 226, 218);
}
.small-info {
  font-size: 0.8rem;
  font-weight: 400;
  width: fit-content;
  padding: 4px 14px;
  color: rgb(255, 255, 255);
  background-color: color-mix(
    in srgb,
    var(--color-black, var(--color-black, #000)) 50%,
    transparent
  );
  backdrop-filter: var(--blur, blur(1rem));
  border-radius: 20px;
}
.card-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.card-para {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.card a {
  display: flex;
  width: fit-content;
  gap: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: none;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  background-color: #000000;
  margin-top: auto;
}
.card a:hover {
  background-color: #ffbf00;
  color: #000000;
  transition: var(--transition-base);
}
.last-impact {
  display: flex;
  padding: 32px 32px 32px 32px;
  gap: 32px;
}
.last-impact-service {
  padding: 10px 32px;
}
.last-impact-left {
  width: 50%;
}
.last-impact-left p {
  font-size: 56px;
}
.last-impact-right p {
  font-size: 22px;
}
.last-impact-right {
  width: 50%;
}
.last-impact-section {
  display: flex;
  gap: 10px;
  padding: 2rem;
  width: 96%;
  height: 70vh;
  overflow: hidden;
}

.blur-impact {
  flex: 1;
  position: relative;
  transition: flex 0.5s ease, transform 0.5s ease;
  overflow: hidden;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.247);
}
.impact-text {
  position: absolute;
  margin: 20px;
  bottom: 0;
  left: 0;
  width: 40%;
  padding: 20px 50px 20px 20px;
  border-radius: var(--border-radius);
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1.1rem;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}
.impact-text p {
  line-height: 25px;
  text-align: left;
  margin-bottom: 20px;
}
.read-more {
  background-color: #fff;
  color: #000;
}
.blur-impact:hover .impact-text {
  opacity: 1;
  transform: translateY(0);
}
.blur-impact:hover {
  cursor: pointer;
  flex: 1.1;
}
.last-impact-section:hover .blur-impact img:not(:hover) {
  filter: blur(10px);
}
.last-impact-section:hover .blur-impact video:not(:hover) {
  filter: blur(10px);
}
.last-impact-section:hover .blur-impact:not(:hover) {
  flex: 0.8;
}
.blur-impact img,
.blur-impact video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right-side-div {
  display: flex;
  flex-direction: column;
}
.dream-job-a {
  text-decoration: none;
  color: #000;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 1rem 2rem;
  transition: var(--transition-base);
  width: max-content;
  margin-top: 30px;
}

.dream-job-a:hover {
  color: #fff;
  background-color: #000;
}
.frank-section {
  margin-top: 0px;
  margin-bottom: 50px;
}
.frank-div {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  background-color: var(--bg-color-purple);
}
.frank-info {
  min-width: 44%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.vertical-line {
  width: 1px;
  background-color: #000;
}
.frank-shakal {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
}
.text-large {
  font-size: 5rem;
  line-height: 85px;
}
.text-large-service {
  font-size: 5rem;
  line-height: 85px;
}
.small-text {
  border: 1px solid black;
  width: fit-content;
  padding: 0.2rem 0.6rem;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: small;
}
.arrow-links {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.black-link {
  background-color: #000;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
}
.black-link:hover {
  background-color: #ffbf00;
  color: #000;
}
.uncle {
  width: 40rem;
  border-radius: var(--border-radius);
  margin-top: auto;
}
.news-section {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px;
}
.left-text-large {
  font-size: 50px;
}
.news-div {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  max-width: 100%;
}

.news-card {
  padding: 20px;
  width: 362px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: var(--bg-color-purple);
}

.card-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 12px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-image:hover img {
  transform: scale(1.1); /* ZOOM IN */
}

.tag {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 10px;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  z-index: 100;
}

.card-text {
  padding: 14px 6px 6px 6px;
}

.card-text h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3;
  margin: 20px 0 30px 0;
}
.card-text h3:hover {
  text-decoration: underline;
}
.card-text p {
  font-size: 0.9rem;
  color: #444;
  margin: 0;
}

.form-section {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 100px;
  display: flex;
  flex: 1;
  gap: 20px;
}
.form-section-services {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 100px;
  padding-top: 50px;
  display: flex;
  flex: 1;
  gap: 20px;
}

.form-section-left {
  width: 50%;
}
.form-section-left h1 {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 30px;
}
.mainText-services h1 {
  font-size: 3.6rem;
}
.form-para-services {
  margin-top: 70px;
  line-height: 35px;
  white-space: pre-line;
  text-align: justify;
}
.form-section-left p {
  font-size: 1.2rem;
}
.form-section-left a {
  margin-top: 2rem;
}
.form-section-right {
  background-color: rgb(232, 232, 232);
  width: 45%;
  padding: 2rem;
  border-radius: var(--border-radius);
}
.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
  font-weight: 600;
}
input,
select {
  height: 45px;
  padding-left: 1rem;
  margin-bottom: 20px;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
}
select {
  width: 102%;
  transition: var(--transition-base);
}
#form-message {
  height: 110px;
}
form p {
  margin-bottom: 100px;
}
footer {
  background: #1b1b1b;
  padding: 3rem 2rem 2rem 2rem;
  color: #fff;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.footer-column-1 {
  grid-column: span 2 / span 2;
}
.footer-column-2 {
  grid-column-start: 3;
}
.footer-column-3 {
  grid-column-start: 4;
}
.footer-column-4 {
  grid-column-start: 5;
}
.footer-column-5 {
  grid-column-start: 6;
}
.footer-column-1 p {
  font-size: large;
  line-height: 1.6rem;
  margin-bottom: 50px;
}
.footer-link {
  background-color: #fff;
}
.heading-link {
  font-size: 2rem;
  color: #fff;
  display: block;
  margin-bottom: 90px;
  transition: var(--transition-base);
}
.heading-link:hover {
  text-decoration: underline;
}
.footer-small-links {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: 100;
  transition: var(--transition-base);
}
.footer-small-links:hover {
  text-decoration: underline;
}
.insights {
  margin-top: 50px;
}
.about {
  margin-top: 70px;
}
#footer-line {
  border: none;
  height: 2px;
  background-color: #adb0b3;

  margin: 20px auto;
  border-radius: 2px;
}
.footer-bottom-part {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-bottom-part a {
  display: inline;
  margin-top: 20px;
}
.footer-bottom-part p {
  margin-left: auto;
  color: #848484;
}
.open-positions-section {
  padding: 32px;
}
.open-positions-section h1 {
  font-size: 3.3rem;
  font-weight: 500;
}
.open-position-title{
  margin-bottom: 60px;
}
.single-position-link{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 32px 32px;
  transition: var(--transition-base);
}
.left-div h1{
  font-size: 1.2rem;
}
.left-div p{
  font-size: 1.2rem;
  color: #848484;
}
.mid-div h1{
  font-size: 2rem;
}
.single-position-link:hover{
  cursor: pointer;
  background-color: #ffa600;
}
.single-position-link:hover .right-div p{
  background-color: #000;
  color: #ffffff;
}
.right-div p{
  width: fit-content;
  border: 1px solid #000;
  padding: 3px 15px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  /* Mobile */
}
@media (max-width: 768px) {
  /* Large Mobile / Small Tablet */
}
@media (max-width: 1024px) {
  /* Tablet */
}
@media (max-width: 1280px) {
  /* Small Laptop */
}
