:root {
  --border-radius: 0.5rem;
  --border-radius-large: 2rem;
  --transition-base: all 0.2s ease-in-out;
  --color-black: #000000;
  --blur: blur(1rem);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
.navbar {
  margin-top: 30px;
}
.navbar {
  margin-inline: 0.5rem;
  padding: 24px 1.4rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  z-index: 1000;
}
.logo {
  margin-right: 30px;
}
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1.2rem;
  transition: var(--transition-base);
}
#contact {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  background-color: black;
  color: #fff;
  font-size: 0.875rem;
  gap: 0.5rem;
  border-radius: var(--border-radius);
}
#contact:hover {
  background-color: orange;
  color: #000000;
  transition: var(--transition-base);
}
.hero-section video {
  position: absolute;
  top: 0;

  height: 100vh;
  width: 100%;
  object-fit: cover; /* makes video cover the area */
  z-index: -1;
}

.hero-content {
  z-index: 1;
  color: white;
  text-align: left;
  padding: 128px 32px;
}
.hero-content a {
  display: flex;
  width: fit-content;
  gap: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  background-color: #ffbf00;
}
.hero-content a:hover {
  background-color: black;
  color: #ffffff;
  transition: var(--transition-base);
}
.video-text-small {
  padding: 6px 12px;
  font-size: 0.8rem;
  border-radius: var(--border-radius-large, 2rem);
  background-color: color-mix(
    in srgb,
    var(--color-black, var(--color-black, #000)) 50%,
    transparent
  );
  backdrop-filter: var(--blur, blur(1rem));
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.video-text-large {
  font-size: 7.5rem;
  margin-bottom: 32px;
  margin-top: 32px;
  letter-spacing: -0.225rem;
  font-weight: 300;
  line-height: 120px;
}
.lev-section {
  padding: 0px 32px 62px 32px;
  text-align: left;
}
.leverage-heading {
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 70px;
  font-weight: 400;
}
.lev-section h2 {
  font-size: 1.8rem;
  font-weight: 100;
  padding-bottom: 20px;
}
.lev-component {
  display: flex;
  gap: 32px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1.5rem;
  color: rgb(27, 27, 27);
  text-decoration: none;
  padding: 1rem;
  border-radius: var(--border-radius, 0.5rem);
  background-color: rgb(236, 226, 218);
}
.small-info {
  font-size: 0.8rem;
  font-weight: 400;
  width: fit-content;
  padding: 4px 14px;
  color: rgb(255, 255, 255);
  background-color: color-mix(
    in srgb,
    var(--color-black, var(--color-black, #000)) 50%,
    transparent
  );
  backdrop-filter: var(--blur, blur(1rem));
  border-radius: 20px;
}
.card-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.card-para {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.card a {
  display: flex;
  width: fit-content;
  gap: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border: none;
  padding: 16px 32px;
  border-radius: var(--border-radius);
  transition: var(--transition-base);
  background-color: #000000;
  margin-top: auto;
}
.card a:hover {
  background-color: orange;
  color: #000000;
  transition: var(--transition-base);
}
.last-impact {
  display: flex;
  padding: 62px 32px 62px 32px;
  gap: 32px;
}
.last-impact-left {
  width: 50%;
}
.last-impact-left p{
  font-size: 56px;
}
.last-impact-right p{
  font-size: 22px;
}
.last-impact-right {
  width: 50%;
}
.last-impact-section{
  display: flex;
  padding: 0px 32px 0px 32px;
}
.blur-impact img,video{
  filter: blur(0.2rem);
}
