/*  Tablet  */
@media (max-width: 900px) {
  .hero-section {
    height: 60vh;
  }

  .hero-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-content {
    padding-top: 200px;
  }

  .video-text-large {
    font-size: 5rem;
    line-height: 120px;
    margin-top: 90px;
  }

  .video-text-small {
    font-size: 1.5rem;
    letter-spacing: 2px;

  }
  .hero-content a{
    margin-top: 100px;
  }
  .staff-link{
    font-size: 1.7rem;
  }
  .lev-section {
    padding-top: 280px;
    padding-bottom: 0;
  }
  .leverage-heading {
    margin-top: 100px;
    font-size: 1.8rem;
    padding-bottom: 50px;
  }
  .lev-section h2 {
    font-size: 1.4rem;
  }
  .lev-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 95%;
    padding-right: 4px;
  }

  .last-impact {
    flex-direction: column;
  }
  .last-impact-left {
    width: 100%;
  }
  .last-impact-right {
    width: 100%;
  }
  #lasting-impact {
    font-size: 2rem;
  }
  #lasting-impact-para {
    font-size: 1.1rem;
    text-align: left;
  }
  .dream-job-a {
    margin-top: 50px;
  }
  .right-side-div {
  }
  .frank-div {
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
  .frank-shakal {
    margin-top: 30px;
  }

  .frank-shakal img {
    margin-top: 30px;
    width: 100%;
  }

  .black-link {
    display: none;
  }
  .left-text-large {
    font-size: 2.5rem;
  }
  .news-div {
    flex-direction: column;
  }
  .news-card {
    margin-bottom: 10px;
  }
  
  
  .card-image img{
    min-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100vh;

  }
  .card-image img:hover{
    margin-bottom: 20px;
  }
  .tag{
    z-index: 100;
    margin-top: 10px;
  }
  .form-section{
    flex-direction: column;
    gap: 30px;
    padding-right: 16px;
  }
  .form-section-left{
   width: 84vw;
  }
  .form-section-left h1{
    font-size: 4rem;
  }
  .form-section-right{
    width: 94%;
    
  }
  form{
  margin-right: 10px;
  }
  .insights{
  padding-top: 45px;
  }
  .footer-grid{
    display: flex;
    flex-direction: column;
  }
  .heading-link{
    margin-bottom: 30px;
  }
  .footer-link{
    margin-bottom: 30px;
  }
  #footer-line{
    margin-bottom: 50px;
  }
  .footer-bottom-part{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
  }
  .footer-bottom-part p{
    margin-right: auto;
  }
  .last-impact-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem;

  }
  .blur-impact{
    height: 90vh;
  }
  .last-impact-section{
    width: 92%;
  }

}




html, body {
  overflow-x: hidden;
}