/*  Tablet  */
@media (min-width: 769px) and (max-width: 1199px) {
  .hero-section {
    height: 60vh;
  }

  .hero-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hero-content {
    padding-top: 70%;
  }

  .video-text-large {
    font-size: 3rem;
    line-height: 50px;
  }

  .video-text-small {
    font-size: 0.8rem;
    letter-spacing: 2px;
  }
  .lev-section {
    padding-top: 280px;
    padding-bottom: 0;
  }
  .leverage-heading {
    margin-top: 100px;
    font-size: 1.8rem;
    padding-bottom: 50px;
  }
  .lev-section h2 {
    font-size: 1.4rem;
  }
  .lev-component {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 95%;
    padding-right: 4px;
  }

  .last-impact {
    flex-direction: column;
  }
  .last-impact-left {
    width: 100%;
  }
  .last-impact-right {
    width: 100%;
  }
  #lasting-impact {
    font-size: 2rem;
  }
  #lasting-impact-para {
    font-size: 1.1rem;
    text-align: left;
  }
  .dream-job-a {
    margin-top: 50px;
  }
  .right-side-div {
  }
  .frank-div {
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
  }
  .frank-shakal {
    margin-top: 30px;
  }

  .frank-shakal img {
    margin-top: 30px;
    width: 100%;
  }

  .black-link {
    display: none;
  }
  .left-text-large {
    font-size: 2.5rem;
  }
  .news-div {
    flex-direction: column;
  }
  .news-card {
    margin-bottom: 10px;
  }
  
  
  .card-image img{
    min-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 100vh;

  }
  .card-image img:hover{
    margin-bottom: 20px;
  }
  .tag{
    z-index: 100;
    margin-top: 10px;
  }
}
